<form action="/favourites" method="post">
  <button type="submit" class="mt-2 bg-[linear-gradient(60deg,rgb(255,0,230),rgb(236,152,31))] min-w-7 text-white px-4 py-4 rounded-lg  transition-colors font-semibold hover:scale-105 hover:shadow-lg hover:opacity-75">
    Add to favourite
  </button>
  <input type="hidden" name="id" value="<%= home._id %>">
</form>